{:private #include #join "private.edn"
 
 :http-port #long #or [#env MEASURE_HTTP_PORT
                       #ref [:private :http-port]
                       3000]
 
 :connection-uri #or [#env MEASURE_DB_URL
                      #ref [:private :connection-uri]
                      "jdbc:postgresql://localhost/measuredb"]
 
 :user #or [#env MEASURE_DB_USER
            #ref [:private :user]
            "muser"]

 :password #or [#env MEASURE_DB_PASSWORD
                #ref [:private :password]]
}
